---
import { type BlogSchema } from "../content/config";
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import "photoswipe/style.css";
import localizedFormat from "dayjs/plugin/localizedFormat";

// @ts-ignore

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  heroImage2,
  badge,
  tags = [],
  gallery,
  wfImage,
  wfImage2,
  imageCompare = true,
  glb,
} = Astro.props;
dayjs.extend(localizedFormat);
const displayDate = dayjs(pubDate).format("ll");
import { Image } from "astro:assets";
import Gallery from "@components/Gallery.astro";

const imageFiles = import.meta.glob<ImageMetadata>(
  "../../public/**/*.{png,webp,jpg,jpeg,gif}",
  {
    import: "default",
    eager: true,
  }
);

const hi = imageFiles[`../../public${heroImage}`];
const hiH = hi.height;
const hiW = hi.width;

let hiAltH: number;
let hiAltW: number;
let wfH: number;
let wfW: number;

if (heroImage2) {
  const hiAlt = imageFiles[`../../public${heroImage2}`];
  hiAltH = hiAlt.height;
  hiAltW = hiAlt.width;
}

if (wfImage) {
  const wf = imageFiles[`../../public${wfImage}`];
  wfH = wf.height;
  wfW = wf.width;
}
---

<script src="https://unpkg.com/@cloudfour/image-compare/dist/index.min.js"
></script>

<script
  type="module"
  src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.5.0/model-viewer.min.js"
></script>
<style>
  model-viewer {
    width: auto;
    height: 600px;
    background-color: bisque;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 15px;
  }
</style>
<BaseLayout
  title={title}
  description={description}
  image={heroImage}
  ogType="article"
>
  <main class="md:flex md:justify-center">
    <article class="prose prose-lg max-w-[1000px] prose-img:mx-auto">
      <h1 class="title text-center my-2 text-4xl font-bold">{title}</h1>
      {
        glb && (
          <div>
            <model-viewer
              src={glb}
              ar
              ar-modes="webxr scene-viewer quick-look"
              camera-controls
              tone-mapping="neutral"
              poster="poster.webp"
              shadow-intensity="1"
            >
              <div class="progress-bar hide" slot="progress-bar">
                <div class="update-bar" />
              </div>
              <button slot="ar-button" id="ar-button">
                {" "}
                View in your space{" "}
              </button>
            </model-viewer>
          </div>
        )
      }

      {
        heroImage2 && imageCompare && (
          <image-compare label-text="Screen Reader Label Text">
            <img
              slot="image-1"
              class="rounded-lg aspect-[16/9] object-cover"
              alt="Alt Text"
              src={heroImage}
            />
            <img
              slot="image-2"
              class="rounded-lg aspect-[16/9] object-cover"
              alt="Alt text"
              src={heroImage2}
            />
          </image-compare>
        )
      }
      <photo-swipe>
        <div id="gallery" class="flex flex-wrap justify-center">
          <div
            class={imageCompare ? "lg:flex justify-center" : "justify-center"}
          >
            <div class="mx-0 lg:mr-4">
              <div class="rounded-lg">
                <a
                  href={heroImage}
                  data-pswp-width={hiW}
                  data-pswp-height={hiH}
                  target="_blank"
                >
                  <Image
                    style="margin-top: 0;"
                    width={hiW > hiH ? 1200 : 600}
                    height={422}
                    format="webp"
                    src={heroImage}
                    alt={title}
                    class="rounded-lg"
                  />
                </a>
              </div>
            </div>
            {
              heroImage2 && (
                <div class="mx-0">
                  <div class="rounded-lg" id="gallery--getting-started">
                    <a
                      href={heroImage2}
                      data-pswp-width={hiAltW}
                      data-pswp-height={hiAltH}
                      target="_blank"
                    >
                      <Image
                        style="margin-top: 0;"
                        width={hiAltW > hiAltH ? 1200 : 600}
                        height={422}
                        format="webp"
                        src={heroImage2}
                        alt={title}
                        class="rounded-lg"
                      />
                    </a>
                  </div>
                </div>
              )
            }
          </div>
          {
            wfImage && (
              <div id="gallery--getting-started">
                <a
                  href={wfImage}
                  data-pswp-width={wfW}
                  data-pswp-height={wfH}
                  target="_blank"
                >
                  <Image
                    style="margin-top: 0;"
                    id="wf"
                    width={wfW > wfH ? 1200 : 600}
                    height={422}
                    format="webp"
                    src={wfImage}
                    alt={title}
                    class="rounded-lg"
                  />
                </a>
              </div>
            )
          }
          {
            wfImage2 && (
              <div id="gallery--getting-started">
                <a
                  href={wfImage2}
                  data-pswp-width={wfW}
                  data-pswp-height={wfH}
                  target="_blank"
                >
                  <Image
                    style="margin-top: 0;"
                    id="wf"
                    width={wfW > wfH ? 1200 : 600}
                    height={422}
                    format="webp"
                    src={wfImage2}
                    alt={title}
                    class="rounded-lg"
                  />
                </a>
              </div>
            )
          }
        </div>
      </photo-swipe>
      {gallery && <Gallery folder={gallery} />}

      <br />

      {badge && <div class="badge badge-secondary my-1">{badge}</div>}
      {
        tags &&
          tags.map((tag) => (
            <a class="badge badge-outline rounded-full ml-2 no-underline">
              {tag}
            </a>
          ))
      }
      {
        updatedDate && (
          <div>
            {" "}
            Last updated on <time>{updatedDate}</time>{" "}
          </div>
        )
      }
      <div class="divider my-2"></div>
      <slot />
    </article>
  </main>
</BaseLayout>
